### Maven
target/

### Angular CLI
/dist
/tmp
/.tmp
/node_modules

### IDEs and editors
/.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

### Test
logs

### MacOS
.DS_Store
